# VS Code
.vscode

# Git
.git
.gitignore

# NPM dependencies
node_modules
client/node_modules

# Docker configuration
Dockerfile
Dockerfile-dev
Makefile
docker-compose.yml
docker-compose.dev.yml

# Other
.eslintignore
.eslintrc.js
.gitignore
.access.key
README.md
logs/
dist/