<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chaofa Vet Line Notify Connect</title>
    <link rel="shortcut icon" type="image/png" href="/public/favicon.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="card text-center mx-auto mt-3" style="width: 20rem;">
        <img
          src="/public/logo.svg"
          class="img-fluid mx-auto"
          alt="Logo"
          width="50%"
        />
        <div class="card-body">
          <h5 class="card-title">รับการแจ้งเตือนผ่าน Line Notify</h5>
          <p class="card-text">
            1. เพิ่ม Line Notify เป็นเพื่อน
          </p>
          <a
            href="https://line.me/R/ti/p/@linenotify"
            target="_blank"
            class="btn btn-success"
            >@Line Notify</a
          >
          <p class="card-text mt-2">
            2. เชื่อมต่อระบบกับ Line Notify
          </p>
          <a href="<%= link %>" class="btn btn-primary">ยืนยันการเชื่อมต่อ</a>
        </div>
      </div>
    </div>
  </body>
</html>
